<br>
<% @climbs.each do |climb| %>
  <h5> <%= "Climb: #{climb.name}" %> </h5> 
  <h5> <%= "Difficulty: #{climb.difficulty}" %> </h5> 
  <h5> <%= "Crag: #{climb.location}" %> </h5> 
  <%= button_to "Comments", climb_path(climb), method: :get %> <br> <br>
<% end %>